docs/dify/app3_correlation.yml
# ===================================================================
# App3 · 关联分析工作流（Workflow）
# 规格来源：dify-integration-spec.md §5 / 契约：contracts.schema.json#CorrelationInput / #CorrelationOutput
# -------------------------------------------------------------------
# 链路：开始 → LLM关联 → 解析JSON → 结束（最小链路，无知识库）
# 用途：输入 procure-sentinel 已算好的多维特征（相关系数/溢价/集中度趋势等），
#       AI 叙述关联发现与议价漏洞线索（不计算、不编造数据）。
#
# 【重要】节点 id 必须是“纯数字字符串”，不能含连字符 '-'。
#   Dify 的 prompt 变量替换正则不认 id 里的 '-'，否则 {{#id.var#}} 不会被替换。
#   本文件节点 id 用 1750000002xxx 系列，与 App1（1750000000xxx）、App2（1750000001xxx）区分。
#
# 【千问 API】LLM 节点 provider=langgenius/tongyi/tongyi，name=deepseek-v4-pro
#   导入后确认 LLM 节点模型框已选中、不是红色未选择。
# ===================================================================
app:
  description: 输入采购多维特征（报价与材料相关系数、相对同行溢价、集中度趋势等，均由规则引擎算好），输出关联发现与议价漏洞线索（严格 JSON）。AI 只叙述不计算。
  icon: 🔗
  icon_background: '#FCE7F3'
  mode: workflow
  name: 关联分析工作流
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: start
          targetType: llm
        id: edge-start-llm
        source: '1750000002001'
        sourceHandle: source
        target: '1750000002002'
        targetHandle: target
        type: custom
        zIndex: 0

      - data:
          isInIteration: false
          isInLoop: false
          sourceType: llm
          targetType: code
        id: edge-llm-code
        source: '1750000002002'
        sourceHandle: source
        target: '1750000002003'
        targetHandle: target
        type: custom
        zIndex: 0

      - data:
          isInIteration: false
          isInLoop: false
          sourceType: code
          targetType: end
        id: edge-code-end
        source: '1750000002003'
        sourceHandle: source
        target: '1750000002004'
        targetHandle: target
        type: custom
        zIndex: 0

    nodes:
      - data:
          desc: 多维特征的 JSON 字符串（结构见 contracts.schema.json#CorrelationInput）
          selected: false
          title: 开始
          type: start
          variables:
            - label: 特征JSON
              max_length: 48000
              options: []
              required: true
              type: paragraph
              variable: features_json
        height: 116
        id: '1750000002001'
        position:
          x: 80
          y: 282
        positionAbsolute:
          x: 80
          y: 282
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          context:
            enabled: false
            variable_selector: []
          desc: 关联分析（temperature 0.3；只叙述不计算；严格输出 JSON）
          model:
            completion_params:
              temperature: 0.3
            mode: chat
            name: deepseek-v4-pro
            provider: langgenius/tongyi/tongyi
          prompt_template:
            - id: sys-corr-001
              role: system
              text: |
                你是采购数据关联分析专家。你会收到一组已计算好的特征（如各供应商报价与原材料价的相关系数、相对同行溢价、集中度趋势、价格趋势，可能含经手采购员）。

                你的任务：把这些特征反映出的"关联与异常模式"讲成管理层能懂的发现。重点关注议价漏洞线索，例如：报价与材料价相关性断裂（材料降报价不降）、某供应商系统性溢价、集中度与溢价同步走高等。

                铁律：
                1. 只基于输入特征叙述，不计算、不编造数据。
                2. 对外措辞走"帮采购议价/优化"，而非"查采购"，降低组织敏感度。
                3. 严格输出 JSON，无 markdown 围栏，无多余文字。

                输出 JSON 结构（严格遵守字段名）：
                {
                  "findings": [
                    { "title": "发现标题", "detail": "具体说明，引用特征值", "severity": "high|mid|low", "lead": "可处置的议价线索" }
                  ],
                  "summary": "一句话总览"
                }
            - id: user-corr-001
              role: user
              text: |
                多维特征：
                {{#1750000002001.features_json#}}
          selected: false
          title: LLM 关联
          type: llm
          variables: []
          vision:
            enabled: false
        height: 98
        id: '1750000002002'
        position:
          x: 384
          y: 282
        positionAbsolute:
          x: 384
          y: 282
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          code: |
            import json

            def main(llm_text: str) -> dict:
                t = (llm_text or "").strip()
                # 去除可能的 markdown 围栏，截取首尾花括号之间的内容
                if t.startswith("```"):
                    t = t.strip("`")
                if "{" in t and "}" in t:
                    t = t[t.find("{"):t.rfind("}") + 1]
                try:
                    data = json.loads(t)
                except (json.JSONDecodeError, ValueError):
                    data = {}
                # findings 规整为统一结构，缺字段给空串，非 dict 项丢弃
                raw_findings = data.get("findings", [])
                if not isinstance(raw_findings, list):
                    raw_findings = []
                findings = []
                for f in raw_findings:
                    if not isinstance(f, dict):
                        continue
                    findings.append({
                        "title": str(f.get("title", "")),
                        "detail": str(f.get("detail", "")),
                        "severity": str(f.get("severity", "")),
                        "lead": str(f.get("lead", "")),
                    })
                return {
                    "findings": findings,
                    "summary": str(data.get("summary", "")),
                }
          code_language: python3
          desc: 解析 LLM 输出为严格字段（解析失败时给安全默认值，不抛异常）
          outputs:
            findings:
              children: null
              type: array[object]
            summary:
              children: null
              type: string
          selected: false
          title: 解析JSON
          type: code
          variables:
            - value_selector:
                - '1750000002002'
                - text
              variable: llm_text
        height: 54
        id: '1750000002003'
        position:
          x: 688
          y: 282
        positionAbsolute:
          x: 688
          y: 282
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

      - data:
          desc: 输出 CorrelationOutput（contracts.schema.json#CorrelationOutput）
          outputs:
            - value_selector:
                - '1750000002003'
                - findings
              value_type: array[object]
              variable: findings
            - value_selector:
                - '1750000002003'
                - summary
              value_type: string
              variable: summary
          selected: false
          title: 结束
          type: end
        height: 116
        id: '1750000002004'
        position:
          x: 992
          y: 282
        positionAbsolute:
          x: 992
          y: 282
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244

    viewport:
      x: 0
      y: 0
      zoom: 0.8
